<h1 mat-dialog-title>CORRESPONDENCIAS</h1>
<form [formGroup]="correspondenciaForm">
    <mat-form-field appearance="standard">
        <input matInput formControlName="correspondencia" placeholder="Ingrese descripcion">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-error *ngIf="correspondenciaForm.get('correspondencia')?.invalid 
                            && correspondenciaForm.get('correspondencia')?.touched">
            No puede ingresar una descripcion vacia.
        </mat-error>
    </mat-form-field>

    &nbsp;&nbsp;
    <button type="submit" mat-raised-button [disabled]="!correspondenciaForm.valid" 
     (click)="agregarCorrespondencia()">
                GUARDAR
        <!-- Get Icons List from - https://material.io/resources/icons/?style=baseline -->
        <mat-icon aria-hidden="false" aria-label="Example home icon">save</mat-icon>
    </button>
</form>

<mat-spinner *ngIf="loading"></mat-spinner>
